<div class="col-mb4 mb-2">
    {% if blog_post.published_date is None %}
        <div class="card border border-warning text-center">
    {% else %}
        <div class="card text-center">
    {% endif %}
        {% if blog_post.image %}
            <a href="{{blog_post.get_absolute_url}}">
                <img src="{{blog_post.image.url}}" alt="" class="card-img-top">    
            </a>
        {% endif %}
            <div class="card-body">
                {% if blog_post.published_date is None %}
                <div class="card-header border border-danger mb-1 text-center">
                    Draft Post - Publish it by specifying a publish date and time
                </div>
                {% endif %}
                <h5 class="card-title">
                    {{blog_post.title}}
                </h5>
                <p class="card-text">
                    {{blog_post.content|linebreaks|truncatewords:10}}
                </p>
                <a href="{{blog_post.get_absolute_url}}" class="btn btn-primary mb-2">Visit Post</a>
                <div class="card-footer text-left">
                    Date Published: {{blog_post.published_date}}
                </div>
            </div>
        </div>
</div>